# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.turbo/

# env & secrets
.env
.env.local
.env.*.local

# prisma generated client
**/generated/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# test
coverage/
